.Header{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    background-color: #4B644A; 
    padding: 10px;
}  

.Header h1 a{
    margin: 0;
    padding: 10px;
    text-decoration: none;
    color: white;
}

.Header_tagline{
    font-size: 20px;
    padding: 5px;
    color: white;
}

.Header_links a{
    font-size: 14pt;
    padding: 10px;
    text-decoration: none;
    color: White;
}

.Header_links a:hover{
    font-weight: bolder;
    color: grey
}

@media screen and (min-width:540px){
    .Header{
        display: inline-block;
        width: 100%;
    }

    .Header h1{
        font-size: 22pt;
        font-weight: normal;
        clear: both;
    }

    .Header_tagline{
        display: none;
    }

    .Header_links{
        position: fixed;
        top: 0;
        right: 0;
    }

    .Header_links a{
        font-size: 10pt;
    }

    
}

@media screen and (min-width: 840px){
    .Header h1{
        font-size: 32pt;
    }

    .Header_links a{
        font-size: 14pt;
    }
}