.Header{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    background-color: #4B644A; 
    padding: 10px;
    font-family: 'Acme', sans-serif;
}  

.Header h1 a{
    margin: 0;
    padding: 10px;
    text-decoration: none;
    color: white;
}

.Header_tagline{
    font-size: 20px;
    padding: 10px;
    color: white;
}

.Header_links a{
    font-size: 10pt;
    margin: 10px;
    padding: 10px;
    text-decoration: none;
    color: White;
    padding: 5px;
}

.Header_links a:hover{
    font-weight: bolder;
    color: grey
}

@media screen and (min-width:540px){
    .Header{
        display: inline-block;
        width: 100%;
        min-height: 3rem;
    }

    .Header h1{
        font-size: 20pt;
        font-weight: normal;
    }

    .Header_links{
        position: absolute;
        top: .5rem;
        right: 0;
        z-index: 0;
        display: flex;
        flex-direction: column;
    }

    .Header_links a{
        
        font-size: 10pt;
        margin: 5px;
    }

    .Header_tagline{
        display: block;
    }
    
}

@media screen and (min-width: 840px){
    .Header h1{
        font-size: 32pt;
    }

    .Header_links a{
        font-size: 14pt;
    }
}