.register-form{
    display: flex;
    flex-direction: column;
    background-color: #ADFCF9;
    min-height: 75vh;
}

.error{
    text-align: center;
}

.register-form div{
    margin: 25px;
    font-size: 14pt;
    padding: 10px;
    display: flex;
    text-align: left;
    justify-content: space-between;
}

.submit-registration-form{
    align-self: center;
    margin-top: 2rem;
    width: 20%;
}

@media screen and (min-width: 540px){
    .register-form{
        padding: 10rem;
    }
    .register-form div{
        justify-content: space-around;
    }

    .submit-registration-form{
        font-size: 20pt;
        width: 20%
    }
}

@media screen and (min-width: 840px){
    .register-form div{
        font-size: 20pt;
    }

    .register-form label, .register-form input{
        font-size: 20pt;
        padding: 10px;
        width: 40%;
    }

    .submit-registration-form{
        width: 15%
    }
}