.login{
    min-height: 75vh;
    background-color: #ADFCF9;
}

.login-form{
    padding: 2rem;
    display: flex;
    flex-direction: column;
}

.login-form label{
    padding: 2px;
}

.login-form input{
    width: 80%;
}

.user_name, .password{
    text-align: center;
    font-size: 12pt;
    padding: 5px;
}

.login-form button{
    margin: 10px;
    background-color: #ADFCF9;
    font-size: 18px;
    text-align: center;
    border: none;
}


@media screen and (min-width:540px){
    .login{
        min-height: 80vh;
    }

    .user_name, .password{
        text-align: center;
        font-size: 20pt;
        padding: 5px;
    }

    .login-form label{
        padding: 10px;
    }
    
    .login-form input{
        width: 80%;
        padding: 10px;
        font-size: 18pt;
    }

    .login-form button{
        margin: 10px;
        background-color: #ADFCF9;
        font-size: 18pt;
        text-align: center;
        border: none;
    }
}

@media screen and (min-width: 720px){
    .login-form input{
        width: 35%;
        padding: 10px;
        font-size: 18pt;
    }
}