.description{
    padding: 10px;
    background-image: linear-gradient(#4B644A ,#89A894);
    color: white;
}

.description h2{
    text-align: center;
}

.description p{
    text-indent: 1rem;
    text-align: left;
}

.register-text{
    /* background-color: #89A894; */
    background-image: linear-gradient(#89A894, #341C1C);
    color: white;
    padding: 10px;
}

.register-text h2{
    margin: 0; 
    text-align: center;
    padding: 5px;
}

.register-text p{
    text-indent: 1rem;
}

.register-text a{
    display: block;
    color: white;
    text-decoration: none;
    text-align: center;
}

.Tagline_large{
    display: none;
}

.register-text a:hover{
    font-weight: bolder;
    color: grey
}

.home-page-search{
    background-color:#89A894;
}

.search-link{
    display: block;
    margin: 0 auto;
    font-size: 14pt;
}

@media screen and (min-width:540px){
    .description{
        min-height: 35vh;
    }
    .Tagline_large{
        display: block;
        text-align: center;
        font-size: 20pt;
    }

    .description p{
        padding: 1rem;
        font-size: 16pt;
    }

    .register-text{
        min-height: 35vh;
    }

    .register-text h2{
        padding: 20px;
        font-size: 20pt;
    }

    .register-text p{
        font-size: 14pt;
        padding: 2rem;
    }

    .register-text a{
        font-size: 18pt;
    }

    .search-link{
        font-size: 18pt;
    }
}

@media screen and (min-width: 840px){
    .description .Tagline_large{
        font-size: 26pt;
    }

    .description p{
        text-align: center;
        padding-top: 5rem;
        padding-left: 15rem;
        padding-right: 15rem;
        font-size: 18pt;
    }

    .register-text h2{
        font-size: 26pt;
    }

    .register-text p{
        font-size: 18pt;
        padding-top: 5rem;
        padding-left: 15rem;
        padding-right: 15rem;
    }

    
}